@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply 
    font-normal
    text-[#1e1e1e];
  }
  .nav-menu li{
    @apply
      font-bold
      cursor-pointer
      text-[18px];
  }
  .filter li {
    @apply pr-[20px]
        text-[16px]
        text-gray-600;
  }

  .msg-container {
    @apply hover:bg-gray-100
    rounded-[10px]
    cursor-pointer
    py-[7px];
  }
  .form-container{
    @apply
      mt-5
  }

  .field-container{
    @apply
      mt-[25px];
  }

  .field-container input{
    @apply
      p-[20px];
  }
  .btn-menu{
    @apply
      duration-[.3s]
      hover:text-[#29D1B8];
  }
  .btn-login{
    @apply
    duration-[.3s]
    hover:bg-[#28a794];
  }
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ffffff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(209 213 219);
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
