@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  li {
    @apply pr-[20px]
        font-bold
        text-[16px];
  }

  .msg-container{
    @apply hover:bg-gray-200
    rounded-[10px]
    cursor-pointer
    py-[7px];
  }
}


/* width */
::-webkit-scrollbar {
    width: 5px;
}
 
/* Track */
::-webkit-scrollbar-track {
    background: #ffffff;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(209 213 219);
    border-radius: 5px;
}
 
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

